name: portfolio

services:
  portfolio:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: portfolio_container
    ports:
      - "5172:5173"
    networks:
      - web-public

networks:
  web-public:
    external: true
